:root {

    /* Colors: */
    --black: #000000;
    --white: #FFFFFF;
    --sand: #F5EEE4;
    --gray: #A2A2A2;
    --fresh: #8CFBCD;
    --coral: #FF6666;
    --light-gray: #C7C8CA;
    --lighter-gray: #EDEDED;
    --confirm: #33DB8D;
    --error: #EB4A56;
    --product-overlay-8-: #C7C8CA;
    --product-overlay-4-: #C7C8CA;
    
    /* Font/text values */
    --unnamed-font-family-glacial-indifference: Glacial Indifference;
    --unnamed-font-style-normal: normal;
    --unnamed-font-style-italic: italic;
    --unnamed-font-weight-bold: bold;
    --unnamed-font-weight-normal: normal;
    --unnamed-font-size-12: 12px;
    --unnamed-font-size-14: 14px;
    --unnamed-font-size-16: 16px;
    --unnamed-font-size-18: 18px;
    --unnamed-font-size-20: 20px;
    --unnamed-font-size-22: 22px;
    --unnamed-font-size-24: 24px;
    --unnamed-font-size-26: 26px;
    --unnamed-font-size-28: 28px;
    --unnamed-font-size-30: 30px;
    --unnamed-font-size-36: 36px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-character-spacing-0-34: 0.34px;
    --unnamed-line-spacing-14: 14px;
    --unnamed-line-spacing-18: 18px;
    --unnamed-line-spacing-22: 22px;
    --unnamed-line-spacing-26: 26px;
    --unnamed-line-spacing-28: 28px;
    --unnamed-line-spacing-30: 30px;
    --unnamed-line-spacing-32: 32px;
    --unnamed-line-spacing-34: 34px;
    --unnamed-line-spacing-38: 38px;
    --unnamed-line-spacing-46: 46px;
    --unnamed-text-transform-uppercase: uppercase;
    --unnamed-decoration-underline: underline;
    }
    
    /* Character Styles */
    .nav-subnav-category {
    font-family: var(--unnamed-font-family-glacial-indifference);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-12);
    line-height: var(--unnamed-line-spacing-18);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-transform: var(--unnamed-text-transform-uppercase);
    }
    .body-strong-desktop- {
    font-family: var(--unnamed-font-family-glacial-indifference);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    }
    .body-bold-white-desktop- {
    font-family: var(--unnamed-font-family-glacial-indifference);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-18);
    line-height: var(--unnamed-line-spacing-26);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .links-mobile- {
    font-family: var(--unnamed-font-family-glacial-indifference);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-decoration: var(--unnamed-decoration-underline);
    }
    .text-mobile- {
    font-family: var(--unnamed-font-family-glacial-indifference);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    }
    .nav-item {
    font-family: var(--unnamed-font-family-glacial-indifference);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-14);
    letter-spacing: var(--unnamed-character-spacing-0-34);
    color: var(--unnamed-color-000000);
    text-transform: var(--unnamed-text-transform-uppercase);
    }
    .label {
    font-family: var(--unnamed-font-family-glacial-indifference);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    }
    .links-desktop- {
    font-family: var(--unnamed-font-family-glacial-indifference);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-26);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-decoration: var(--unnamed-decoration-underline);
    }
    .nav-subnav-item {
    font-family: var(--unnamed-font-family-glacial-indifference);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-30);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-transform: var(--unnamed-text-transform-uppercase);
    }
    .body-regular-white-desktop- {
    font-family: var(--unnamed-font-family-glacial-indifference);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-18);
    line-height: var(--unnamed-line-spacing-26);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .h4-mobile- {
    font-family: var(--unnamed-font-family-glacial-indifference);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-18);
    line-height: var(--unnamed-line-spacing-30);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    }
    .h3-mobile- {
    font-family: var(--unnamed-font-family-glacial-indifference);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-20);
    line-height: var(--unnamed-line-spacing-28);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    }
    .h5 {
    font-family: var(--unnamed-font-family-glacial-indifference);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-22);
    line-height: var(--unnamed-line-spacing-28);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    }
    .h2-mobile- {
    font-family: var(--unnamed-font-family-glacial-indifference);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-22);
    line-height: var(--unnamed-line-spacing-32);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    }
    .h5-white {
    font-family: var(--unnamed-font-family-glacial-indifference);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-22);
    line-height: var(--unnamed-line-spacing-28);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .h4-desktop- {
    font-family: var(--unnamed-font-family-glacial-indifference);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-24);
    line-height: var(--unnamed-line-spacing-30);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    }
    .h4-white-desktop- {
    font-family: var(--unnamed-font-family-glacial-indifference);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-24);
    line-height: var(--unnamed-line-spacing-30);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .h3-desktop- {
    font-family: var(--unnamed-font-family-glacial-indifference);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-26);
    line-height: var(--unnamed-line-spacing-32);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    }
    .h3-white-desktop- {
    font-family: var(--unnamed-font-family-glacial-indifference);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-26);
    line-height: var(--unnamed-line-spacing-32);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .h1-mobile- {
    font-family: var(--unnamed-font-family-glacial-indifference);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-28);
    line-height: var(--unnamed-line-spacing-34);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    }
    .h2-white-desktop- {
    font-family: var(--unnamed-font-family-glacial-indifference);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-30);
    line-height: var(--unnamed-line-spacing-38);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .h2-desktop- {
    font-family: var(--unnamed-font-family-glacial-indifference);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-30);
    line-height: var(--unnamed-line-spacing-38);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    }
    .h1-desktop- {
    font-family: var(--unnamed-font-family-glacial-indifference);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-36);
    line-height: var(--unnamed-line-spacing-46);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    }
    .h1-white-desktop- {
    font-family: var(--unnamed-font-family-glacial-indifference);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-36);
    line-height: var(--unnamed-line-spacing-46);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-transform: var(--unnamed-text-transform-uppercase);
    }
    .body-oblique-desktop- {
    font-family: var(--unnamed-font-family-glacial-indifference);
    font-style: var(--unnamed-font-style-italic);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    }
    .placeholder {
    font-family: var(--unnamed-font-family-glacial-indifference);
    font-style: var(--unnamed-font-style-italic);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-22);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-a7a7a7);
    }
    .body-oblique-white-desktop- {
    font-family: var(--unnamed-font-family-glacial-indifference);
    font-style: var(--unnamed-font-style-italic);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-18);
    line-height: var(--unnamed-line-spacing-26);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }